{% liquid
	## CUSTOMIZE YOUR SETTINGS

	# APPEREANCE
	assign swatch_size = 2.5
	assign show_label = true
	assign show_swatch_titles = true

	# SETTINGS
	assign disable_app_css = false
	assign only_available_products = false
	assign sort_order = 'order_default'
%}

<div class="mw_groupmate__container{% if disable_app_css %}--custom_css{% endif %}">
	{%- liquid
		# GET DATA FROM METAFIELDS
		assign group = product.metafields.prm_mvp.group_ref.value
		assign ui_data = product.metafields.prm_mvp.ui_data.value
		assign parent_product = product

		# SORTING
		assign sort_order = 'order_default'

		# SHOW ONLY AVAILABLE PRODUCTS
		if only_available_products
			assign group = product.metafields.prm_mvp.group_ref.value | where: 'available', true
		endif
	-%}

	{% if show_label %}
		<label class="mw_groupmate__label">
			{{- ui_data.group_option_title -}}
		</label>
	{% endif %}

	<ul
		class="mw_groupmate__swatchlist --{{ ui_data.group_display_style }} --{{ sort_order }}"
		style="--swatch_size: {{ swatch_size }}rem"
	>
		{%- for product in group -%}
			{%- assign this_data = product.metafields.prm_mvp.ui_data.value -%}

			<li
				{% if product == parent_product %}
					class="--active"
				{% endif %}
			>
				{% case ui_data.group_display_style %}
					{% when 'color_swatch' %}
						{% comment %} // COLOR SWATCH {% endcomment %}
						<a
							href="{{ product.url | within: collection }}"
							style="color: {{ this_data.swatch_color }}"
							title="{{ this_data.swatch_title }}"
						>
							&nbsp;
						</a>

						{% if show_swatch_titles %}
							<span class="title">
								{{- this_data.swatch_title -}}
							</span>
						{% endif %}

					{% when 'image_swatch' %}
						{% comment %} // IMAGE SWATCH {% endcomment %}
						<a
							href="{{ product.url | within: collection }}"
							title="{{ this_data.swatch_title }}"
						>
							{% if product.featured_image %}
								<img
									src="{{ product.featured_image | image_url: width: 60, height: 60 }}"
									alt="{{ this_data.swatch_title }}"
									width="60"
									height="60"
									loading="lazy"
								>
							{% else %}
								<span class="image_placeholder"></span>
							{% endif %}
						</a>

						{% if show_swatch_titles %}
							<span class="title">
								{{- this_data.swatch_title -}}
							</span>
						{% endif %}

					{% when 'button' %}
						{% comment %} // BUTTON {% endcomment %}
						<a
							href="{{ product.url | within: collection }}"
							title="{{ this_data.swatch_title }}"
						>
							<span>{{ this_data.swatch_title }}</span>
						</a>
				{% endcase %}
			</li>
		{%- endfor -%}
	</ul>
</div>

{% unless disable_app_css %}
	{% # prettier-ignore %}
	<style>.mw_groupmate__container{font-family:inherit;font-size:inherit}.mw_groupmate__container,.mw_groupmate__container *{all:unset}.mw_groupmate__container a{cursor:pointer}.mw_groupmate__container .mw_groupmate__label{display:block;margin-bottom:1rem}.mw_groupmate__container .mw_groupmate__swatchlist{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;gap:1rem;padding:.5rem 0}.mw_groupmate__container .mw_groupmate__swatchlist.--order_active li.--active{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.mw_groupmate__container .mw_groupmate__swatchlist li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:.5rem}.mw_groupmate__container .mw_groupmate__swatchlist li span.title{font-size:.6em;text-align:center}.mw_groupmate__container .mw_groupmate__swatchlist.--color_swatch li,.mw_groupmate__container .mw_groupmate__swatchlist.--image_swatch li{width:var(--swatch_size)}.mw_groupmate__container .mw_groupmate__swatchlist.--color_swatch li a,.mw_groupmate__container .mw_groupmate__swatchlist.--image_swatch li a{display:block;width:var(--swatch_size);height:var(--swatch_size);border-radius:50%}.mw_groupmate__container .mw_groupmate__swatchlist.--color_swatch li.--active a,.mw_groupmate__container .mw_groupmate__swatchlist.--image_swatch li.--active a{outline:currentColor solid 1px;outline-offset:2px}.mw_groupmate__container .mw_groupmate__swatchlist.--color_swatch li a{background-color:currentColor;-webkit-box-shadow:0 0 0 2px #fff;box-shadow:0 0 0 2px #fff}.mw_groupmate__container .mw_groupmate__swatchlist.--image_swatch li a{overflow:hidden;outline:rgba(0,0,0,.05) solid 1px;outline-offset:2px}.mw_groupmate__container .mw_groupmate__swatchlist.--image_swatch li a img{width:100%;height:auto}.mw_groupmate__container .mw_groupmate__swatchlist.--image_swatch li a .image_placeholder{background:#ebebeb;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:100%}.mw_groupmate__container .mw_groupmate__swatchlist.--button li a{display:-webkit-box;display:-ms-flexbox;display:flex;padding:.5em;border:1px solid currentColor;line-height:1;font-size:.9em}.mw_groupmate__container .mw_groupmate__swatchlist.--button li.--active a{background:currentColor}.mw_groupmate__container .mw_groupmate__swatchlist.--button li.--active a span{color:#fff}</style>
{% endunless %}
